/* This file houses the customized formatting for app */


/* This accounts for extra white space on right side of page*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* This didn't actually have an effect on this particular project, 
but it can help with removing any pre-set spacing on page that may be messing with your code */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* give everything inherit for box sizing, and set the body to border-box */
  /* this makes it easier to change box-sizing properties for other things
  if the situation ever arises */
  box-sizing: inherit; }


body {
    font-family: "Inter", sans-serif;
    color: #313131;
}

h3 {
    font-family:"Inter", sans-serif;
}
.navbar{
    background-color: #282e33;
}

.navbar-nav > li{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* I opted for flexbox over the grid because it is inherently responsive */
#landingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background-color: #282e33;
}
#landingScreen-contentWrapper{
    line-height: 1.75rem;
}

/* About Page */
#jcName{
    font-family:"Amiko", sans-serif;
    color: rgb(231, 88, 85);
    font-size: xx-large;
    font-weight: bold;
    margin-left: 3rem;
}

#jcDescription{
    color: #EAE1E1;
    font-size: x-large;
}

#about-section{
    display:flex;
}
#about-text{
    text-align: center;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
}
#about-image{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

/* Skills Page */
#skills-screen {
    background-color: #F5EDED;
}
#skills-section{
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
}
#skill-box {
    text-align: center;
    padding: .5rem;
}
.skill-icon{
    font-size: 2.5rem;   
}

/* Project Page */
#projects-section{
    padding-bottom: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
}
#project-box {
    margin: 1rem;
}

.card{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 130px; 
    grid-template-areas: "image" "text" "stats";

    font-family: "Inter", sans-serif;
    border-radius: 18px;
    background: #F5EDED;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center; 

    transition: 0.5s ease;
    cursor: pointer;
}
.card1-image{
    grid-area: image;
    background: url("login_app.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card2-image{
    grid-area: image;
    background: url("Nucampsite_app.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card3-image{
    grid-area: image;
    background: url("grocerylist.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: rgb(255,7,110);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-stats{
    grid-area: stats;
    font-size: 15px;
    font-weight: 300;
    background-color: lightskyblue;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

#contact-screen{
    background-color: #F5EDED;
}
#contact-section{
    display:flex;
    padding: 5rem;
}

.btn-social-icon {
    font-size: 3rem;
    color: #282e33;
}

#sectionTitle {
    font-family:"Amiko", sans-serif;
    font-weight: bold;
    text-align: center;
    align-self: center;
    padding-top: 4rem;
    padding-bottom: 1rem;

}